h2{
    color: green;
}
.wrapper{
    text-align: center;
}
.cards{
    display: inline-block;
    border: black 2px solid;
    height: 200px;
    width: 200px;
}
.gold_bar{
    display: block;
    justify-self: left;
}
.gold_display{
    padding: 2px 5px 2px 5px;
    display: inline-block;
    border: solid black 3px;
}
.text_area{
    /* margin-top: 50px; */
    margin: 0 auto;
    overflow-y: scroll; 
    border: solid black 1px;
    width: 825px;
    height: 250px;
}
ul{
    list-style-type: none;
    overflow-y: scroll; 

}